<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MobileAAT"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.hilmarzech.picturegame.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name=".QuestionnaireActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SessionActivity"
            android:noHistory="true" />
        <activity
            android:name=".AATActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape" />
        <activity android:name=".PictureRatingActivity" />
        <activity android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.hilmarzech.com"
                    android:path="/launch"
                    android:scheme="http"></data>
            </intent-filter>
        </activity>
    </application>

</manifest>